In [20]:
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [3]:
model = LinearRegression()

In [6]:
df = sns.load_dataset('diamonds')

In [7]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [13]:
df = df[(df[['x', 'y', 'z']] != 0).all(axis = 1)]

In [24]:
X = df[['carat']].values

In [18]:
Y = df['price'].values

In [25]:
print(X.shape, Y.shape)

(53920, 1) (53920,)

In [26]:
model.fit(X, Y)

LinearRegression()

In [27]:
print(model.coef_, model.intercept_)

[7755.76725406] -2255.768787037985

In [30]:
model.predict(np.array(2).reshape(-1, 1))

array([13255.76572108])