In [3]:
from statsmodels.stats.proportion import proportions_ztest

In [6]:
proportions_ztest(
    count = [5, 4], 
    nobs = [100, 100], 
    alternative = 'larger'
)

(0.34109634006443396, 0.3665155281999629)

In [37]:
import pandas as pd
from scipy import stats
from _auth.google_auth import google_auth
from _auth.get_project_id import get_project_id

In [11]:
google_auth()

In [26]:
df = pd.read_csv(f"gs://{get_project_id()}/titanic/train.csv")

In [27]:
df = df[['Survived', 'Age']]

In [28]:
df.describe()

         Survived         Age
count  891.000000  714.000000
mean     0.383838   29.699118
std      0.486592   14.526497
min      0.000000    0.420000
25%      0.000000   20.125000
50%      0.000000   28.000000
75%      1.000000   38.000000
max      1.000000   80.000000

In [31]:
df = df.dropna()
df.describe()

         Survived         Age
count  714.000000  714.000000
mean     0.406162   29.699118
std      0.491460   14.526497
min      0.000000    0.420000
25%      0.000000   20.125000
50%      0.000000   28.000000
75%      1.000000   38.000000
max      1.000000   80.000000

In [33]:
survived = df[df['Survived'] == 1]
not_survived = df[df['Survived'] == 0]

In [35]:
print(survived['Age'].mean(), not_survived['Age'].mean())

28.343689655172415 30.62617924528302

In [39]:
stats.ttest_ind(survived, not_survived, alternative ='less')

Ttest_indResult(statistic=array([        inf, -2.06668695]), pvalue=array([1.        , 0.01956233]))