## Titanic

In [103]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from _auth.google_auth import google_auth
from _auth.get_project_id import get_project_id

In [104]:
google_auth()
train = pd.read_csv(f'gs://{get_project_id()}/titanic/train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [105]:
train = train.drop(columns = ['PassengerId', 'Name', 'Ticket', 'Cabin'])
train = pd.get_dummies(train, columns = ['Pclass', 'Embarked'])

In [106]:
train.describe()

,Survived,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
count,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,29.699118,0.523008,0.381594,32.204208,0.242424,0.206510,0.551066,0.188552,0.086420,0.722783
std,0.486592,14.526497,1.102743,0.806057,49.693429,0.428790,0.405028,0.497665,0.391372,0.281141,0.447876
min,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,20.125000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,28.000000,0.000000,0.000000,14.454200,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,1.000000,38.000000,1.000000,0.000000,31.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [107]:
train['Age'] = train['Age'].fillna(28)
train.describe()

,Survived,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,29.361582,0.523008,0.381594,32.204208,0.242424,0.206510,0.551066,0.188552,0.086420,0.722783
std,0.486592,13.019697,1.102743,0.806057,49.693429,0.428790,0.405028,0.497665,0.391372,0.281141,0.447876
min,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,22.000000,0.000000,0.000000,7.910400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,28.000000,0.000000,0.000000,14.454200,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,1.000000,35.000000,1.000000,0.000000,31.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [108]:
label_sex = LabelEncoder()
train['Sex'] = label_sex.fit_transform(train['Sex'])

In [109]:
X = train.iloc[:, 1: ]
Y = train.iloc[:, :1]

In [110]:
sc = StandardScaler()
X = sc.fit_transform(X)

In [111]:
model = RandomForestClassifier()
model.fit(X, Y)

/Users/yoichiojima/Desktop/personal/personal-project/.venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier()

In [112]:
test = pd.read_csv(f'gs://{get_project_id()}/titanic/test.csv')
test_cache = test.copy()
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [113]:
test = test.drop(columns = ['PassengerId', 'Name', 'Ticket', 'Cabin'])

In [114]:
test = pd.get_dummies(test, columns = ['Pclass', 'Embarked'])

In [115]:
label_sex = LabelEncoder()
test['Sex'] = label_sex.fit_transform(test['Sex'])

In [116]:
test.describe()

,Sex,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
count,418.000000,332.000000,418.000000,418.000000,417.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,0.636364,30.272590,0.447368,0.392344,35.627188,0.255981,0.222488,0.521531,0.244019,0.110048,0.645933
std,0.481622,14.181209,0.896760,0.981429,55.907576,0.436934,0.416416,0.500135,0.430019,0.313324,0.478803
min,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,21.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,27.000000,0.000000,0.000000,14.454200,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,1.000000,39.000000,1.000000,0.000000,31.500000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,76.000000,8.000000,9.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [117]:
test['Age'] = test['Age'].fillna(27)
test['Fare'] = test['Fare'].fillna(14.454200)

In [118]:
test = sc.fit_transform(test)

In [119]:
y_pred = model.predict(test)

In [120]:
PassengerId = test_cache['PassengerId']
PassengerId = np.array(PassengerId)
test = pd.DataFrame(
    {'PassengerId': PassengerId, 'Survived': y_pred}
)

In [124]:
test.to_csv(f'gs://{get_project_id()}/titanic/predictioin.csv', index = False)
test.to_csv(f'predictioin.csv', index = False)